@media screen and (max-width:1200px){
    .container{
        width: 950px;
    }
    .main-content .left-content {
        width: 620px;
    }
}


@media screen and (max-width:992px){
  
    .main-content .left-content {
        width: 100%;
    }
    .container{
        width: 750px;
    }
    .cards .card img{
        height: 50%;
    }
    .navbar-expand-lg {
        padding: 0px 0px;
    }

    .navbar-expand-lg article {
        width:100%;
    }

    .navbar-expand-lg .nav-item  {
        text-align: center;
    }

    .navbar-toggler{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border:none;
        color:black!important;
    }
    .navbar-toggler p {margin:0px;}

    .main-content{
        flex-direction: column;
    }
    .right-content{
        width: 100%;
    }
    .min-nav ul{
        width: 40%;
    }
    .footer-top{
        flex-direction: column;
    }
    .footer-newsletter{
        width: 100%;
    }
    .footer-instagram {
        width: 100%;
    }
    .footer-instagram div img{
        width: 25%;
    }

    .footer-bottom{
        font-size: 13px;
    }
}

@media screen and (max-width:767px){
    .container{
        width:100%;
    }
    .slider-area {
        flex-wrap: wrap;
    }
    .slider-area .col-md-4 article:first-child {
        padding-bottom: 40px;
    } 
    .cards{
        flex-direction: column;
        padding: 30px 15px;
    }
    .cards .card{
      width: 100% !important;
      margin: 10px 0px;
    }
}

