body {
    margin:0px;
    padding:0px;
}

.media-navbars {
    width:100%;
    height:140px;
    border-bottom: 1px solid rgba(233,233,233,0.7);
}

.media-navbars article {
    width:85%;
    margin:auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.media-navbars article aside {
    width:33%;
    display: flex;
    align-items: center;
}

.media-navbars article aside ul {
    display: flex;
    list-style: none;
    width:100%;
    max-width:240px;
    justify-content: space-around;
    padding: 0px;
    margin:0px;
}

.media-navbars article aside ul a { color:black; }

.media-navbars article aside img {
    display: block;
    margin: auto;
}

.media-navbars article aside:last-child {
    justify-content: flex-end;
}

.navbar-light .navbar-toggler{
    outline: none;
}
.navbar-toggler p{
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
}
.navbar-expand-lg { padding:30px 0px; }

.navbar-expand-lg ul {
    margin:auto;
}

.navbar-expand-lg ul li {
    margin:0px 10px;
}

.navbar-expand-lg ul li a {
    color: black!important; 
    text-transform: uppercase; 
    font-size: 13px;
    font-family: 'Roboto', ;
    font-weight: 500;
}

.navbar-expand-lg ul li a i {
    font-size: 9px;
    color: grey;
    padding:0px 2px;
}

.slider-area {
    display: flex;
}

.slider-area aside {
    padding:0px;
}

.slider-area aside img {
    width:100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}

.slider-area aside:last-child {
    background: black;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
}
.slider-area aside:last-child p{
    max-height: 168px;
    overflow: hidden;
}
.slider-area aside article:first-child {
    padding:50px 30px 0px;
}

.slider-area aside h1 {
    font-size: 35px;
}

.slider-area aside .btn {
    color:#ed8979;
    font-size: 13px;
    padding:7px 20px 7px 0px;
    transition:0.5s; 
}
.slider-area aside .btn:hover{
    color:#fff;
}

.slider-area aside .last-btn {
    padding:9px 20px;
    border:1px solid #fff;
    border-radius: 0px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', ;
    font-size: 12px;
    letter-spacing: 1px;
}

.slider-area aside .last-btn:hover{
    background-color:#ed8979;
    border-color: #ed8979;
}

.arrows {
    height: 80px;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.arrows i {
    font-size: 30px;
    margin:0px 20px;
}

.cards {
    padding: 30px 10px;
    height: auto;
    width: 1200px;
    margin: auto;
    display: flex ;
    justify-content: space-between ;
}

.cards .card{
    padding: 0px 6px;
    border: none;
    width: 25% !important;
}

.cards .card img{
    height: 60%;
    object-fit: cover !important;
}
.cards .card-body{
    display: flex;
    padding: 18px 0px 0px;
    align-items: flex-start;
}
.cards .card-body div:first-child{
    border-radius: 100%;
    border: 2px solid #e1e1e1;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    width: 50px;
    height: 50px;
    color: #e1e1e1;
}

.cards .card-body div:first-child span{
    display: block;
    width: 46px;
    height: 46px;
    text-align: center;
}
.cards .card-body div:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
}
.cards .card-body div a{
    text-decoration: none;
    color: black;
    width: 70%;
    text-align: left;
    font-weight: 600;
    font-family: 'Source Serif Pro', sans-serif;
    font-size: 18px;
    width: 100%;
    transition: 0.3s;
    line-height: 18px;
    padding:4px 0px 6px;
}

.cards .card-body div a:hover{
color: rgb(180, 180, 180);
}
.cards .card-body div p{
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(160, 160, 160);
    margin: 0px;
}

#fixed-cog{
    z-index: 100;
    position: fixed;
    top: 45%;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,.14), 0 4px 20px rgba(0,0,0,.18);
    cursor: pointer;
    
}
#fixed-cog i{
    font-size: 20px;
    padding: 12px;
    animation-name: cog-anim;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes cog-anim{
    to{
        transform: rotate(360deg);
    }
}

.main-content{
    padding: 30px 10px;
    height: auto;
    width: 1200px;
    margin: auto;
    display: flex ;
}
.main-content .left-content{
    width: 770px;
}
.main-content .left-content .card{
    border-radius: 0px;
    border: none;
}
.main-content .left-content .card-body{
    padding: 12px 0px;
}

.main-content .left-content .card-body a{
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-weight: 600;
    font-family: 'Source Serif Pro', sans-serif;
    font-size: 32px;
    transition: 0.3s;
}

.main-content .left-content .card-body a:hover{
color: rgb(180, 180, 180);
}

.main-content .left-content .card-info .btn {
    color:#ed8979;
    font-size: 13px;
    padding:3px 10px 7px 0px;
    transition:0.5s; 
    text-transform: uppercase;
}

.main-content .left-content .card-info .btn:hover{
    color: #000;
}
.left-content .card-body .card-info{
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    margin-bottom: 10px;
}
.left-content .card-body .card-text{
    color: rgb(119, 119, 119);
}
.left-content .text-muted{
    padding:3px 10px 7px ;
    transition:0.3s; 
    cursor: pointer;
}

.left-content .text-muted:hover{
    color: #000 !important;
}

.left-content .last-btn {
    padding:9px 20px;
    border:1px solid rgb(200, 200, 200);
    border-radius: 0px;
    color:#000;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', ;
    font-size: 12px;
    letter-spacing: 1px;
}

.left-content .last-btn:hover{
    background-color:#ed8979;
    border-color: #ed8979;
    color: #fff;
}
.left-content  article .card{
    margin: 40px 0px 50px !important;
}
.left-content  article .card .card-body{
    padding: 15px 25px;
}
.left-content  article .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}